<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ isEditMode ? 'Editar artista' : 'Crear nuevo artista' }}</h4>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <form [formGroup]="artistForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Edad</label>
        <input type="number" id="age" class="form-control" formControlName="age">
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">País</label>
        <input type="text" id="country" class="form-control" formControlName="country">
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">Fecha de nacimiento</label>
        <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth">
      </div>
      <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Guardar cambios' : 'Crear' }}</button>
    </form>
  </div>
</div>
