<!-- Filtro de roles por nombre -->
<div class="row mb-3">
  <div class="col">
    <input
      type="text"
      class="form-control"
      [attr.placeholder]="placeholderName"
      [(ngModel)]="filterText"
      (input)="applyFilter()"
    />
  </div>
  <div class="col">
    <div class="dropdown-custom">
      <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">
        {{'SELECCIONAR_PERMISOS' | translate}}
      </button>
      <div class="dropdown-menu-custom" [ngClass]="{'show': isDropdownOpen}">
        <div *ngFor="let permissionTranslater of allTranslations" class="dropdown-item-custom">
          <input
            type="checkbox"
            class="form-check-input me-2"
            [value]="permissionTranslater.permission.id"
            [checked]="selectedPermissionIds.includes(permissionTranslater.permission.id)"
            (change)="onPermissionChange($event)"
          />
          <label class="form-check-label">
            {{ permissionTranslater.translation }}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <button class="btn btn-primary" type="button" (click)="clearFilters()">
      {{'LIMPIAR_FILTROS' | translate}}
    </button>
  </div>
</div>

<!-- Selector múltiple para permisos -->
<div class="mb-3">
</div>

<!-- Tabla de roles -->
<div class="table-responsive" *ngIf="filteredRoles.length > 0">
  <table class="table align-middle text-nowrap">
    <thead>
      <tr>
        <th class="text-dark font-medium fs-4">
          {{'NOMBRE' | translate}}
          <button class="btn btn-link p-0" (click)="toggleSort()">
            <i class="bi bi-sort-alpha-down" *ngIf="!isSortedAscending"></i>
            <i class="bi bi-sort-alpha-up" *ngIf="isSortedAscending"></i>
          </button>
        </th>
        <th class="text-dark font-medium fs-4">{{'PERMISOS' | translate}}</th>
        <th class="text-dark font-medium fs-4">{{'ACCIONES' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of filteredRoles">
        <td>{{ role.name }}</td>
        <td>
          <span *ngFor="let permission of role.permissions" class="badge bg-info text-dark me-1">
            {{ getTranslatedPermissionName(permission.id) }}
          </span>
        </td>
        <td>
          <button class="btn btn-danger me-2" (click)="openDeleteModal(role)">
            <i class="bi bi-trash"></i>
          </button>
          <a class="btn btn-warning" [routerLink]="['/roles/edit', role.id]">
            <i class="bi bi-pencil"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Indicador de carga -->
<div class="text-center" *ngIf="filteredRoles.length === 0 && errorMessage === ''">
  <p>{{'NO_ROLES_DISPONIBLES_FILTROS' | translate}}</p>
</div>

<!-- Mensaje de error -->
<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
  {{ errorMessage }}
</div>

<!-- Modal para eliminar rol -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" [ngClass]="{'show': deleteModal, 'd-block': deleteModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{{'ELIMINAR' | translate}} {{'ROL' | translate}} </h5>
        <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        {{'ESTAS_SEGURO_ELIMINAR' | translate}} {{ selectedRole?.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
