<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <button class="btn btn-primary" routerLink="/songs">
        <i class="bi bi-arrow-left"></i>
      </button>
      {{ isEditMode ? 'Editar canción' : 'Crear nueva canción' }}
    </h4>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <form [formGroup]="songForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="time" class="form-label">Duración</label>
        <input type="number" id="time" class="form-control" formControlName="time">
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" id="url" class="form-control" formControlName="url">
      </div>
      <div class="mb-3">
        <label for="artistSearch" class="form-label">Artista/s</label>
        <input type="text" id="artistSearch" class="form-control" formControlName="artistSearch" (input)="searchArtists($event)">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let artist of filteredArtists" (click)="addArtist(artist)">
            <button type="button" class="btn btn-secondary" (click)="addArtist(artist)">{{ artist.name }}</button>
          </li>
        </ul>
      </div>
      <div class="mb-3">
        <label for="album" class="form-label">Álbum</label>
        <input type="number" id="album" class="form-control" formControlName="album">
      </div>
      <div class="mb-3">
        <label>Artistas seleccionados:</label>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let selectedArtist of selectedArtists">
            {{ selectedArtist.name }}
            <button type="button" class="btn-close" aria-label="Close" (click)="removeArtist(selectedArtist)"></button>
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Guardar cambios' : 'Crear' }}</button>
    </form>
  </div>
</div>
