<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{'LISTA_USUARIOS' | translate}}</h4>
    <h5 class="card-subtitle text-muted">{{'LISTADO_USUARIOS' | translate}}</h5>

        <!-- Filtros de búsqueda -->
        <div class="row mb-3">
          <div class="col">
            <input
            type="text"
            class="form-control"
            [attr.placeholder]="placeholderName"
            [(ngModel)]="filterUsername"
            (input)="applyFilter()"
          />
          </div>
          <div class="col">
            <input
            type="text"
            class="form-control"
            [attr.placeholder]="placeholderEmail"
            [(ngModel)]="filterEmail"
            (input)="applyFilter()"
          />
          </div>
          <div class="col">
            <select
            class="form-select"
            [(ngModel)]="filterActive"
            (change)="applyFilter()"
            placeholder="Filtrar por activo"
          >
            <option [ngValue]="1">{{'ACTIVOS' | translate}}</option>
            <option [ngValue]="0">{{'INACTIVO' | translate}}</option>
            <option [ngValue]="-1">{{'FILTRAR_POR' | translate}} {{'ACTIVOS' | translate}}</option>
          </select>

        </div>
        <div class="col">
          <select
          class="form-select"
          [(ngModel)]="filterDelete"
          (change)="applyFilter()"
          placeholder="Filtrar por activo"
        >
          <option [ngValue]="1">{{'ELIMINADOS' | translate}}</option>
          <option [ngValue]="0">{{'NO_ELIMINADOS' | translate}}</option>
          <option [ngValue]="-1">{{'FILTRAR_POR' | translate}} {{'ELIMINADOS' | translate}}</option>
        </select>

      </div>

      <div class="col">
        <button class="btn btn-primary me-2" (click)="applyFilters()">{{'APLICAR' | translate}}</button>
        <button class="btn btn-secondary" (click)="clearFilters()">{{'LIMPIAR' | translate}}</button>
      </div>

    <!-- Indicador de carga -->
    <div class="text-center" *ngIf="userList.length === 0 && errorMessage===''">
      <svg width="50px" height="50px" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#007bff">
        <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
            <path d="M36 18c0-9.94-8.06-18-18-18">
              <animateTransform
                attributeName="transform"
                type="rotate"
                from="0 18 18"
                to="360 18 18"
                dur="1s"
                repeatCount="indefinite"/>
            </path>
          </g>
        </g>
      </svg>
      <p>Cargando...</p>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <!-- Tabla de usuarios -->
    <div class="table-responsive" *ngIf="userList.length > 0">
      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('username')">
              {{'NOMBRE' | translate}}
              <span *ngIf="sortColumn === 'username'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('email')">
              {{'EMAIL' | translate}}
              <span *ngIf="sortColumn === 'email'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('active')">
              {{'ACTIVO' | translate}}
              <span *ngIf="sortColumn === 'active'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('softDelete')">
              {{'ELIMINADO' | translate}}
              <span *ngIf="sortColumn === 'softDelete'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4">{{'ACCIONES' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{user.username}}</h5>
                </div>
              </div>
            </td>
            <td class="fs-4">{{user.email}}</td>
            <td>
              <ng-container *ngIf="user.active === 1">
                <i class="bi bi-check-lg text-success" title="Activo"></i>
              </ng-container>
              <ng-container *ngIf="user.active === 0">
                <i class="bi bi-x-lg text-danger" title="Desactivado"></i>
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="user.softDelete === 1">
                <i class="bi bi-check-lg text-success" title="Activo"></i>
              </ng-container>
              <ng-container *ngIf="user.softDelete === 0">
                <i class="bi bi-x-lg text-danger" title="Eliminado"></i>
              </ng-container>
            </td>

            <td>
              <button  *ngIf="canActivate('ROLE_ADMIN')" class="btn btn-danger me-2" (click)="openDeleteModal(user)">
                <i class="bi bi-trash"></i>
              </button>
              <button *ngIf="user.active===0" class="btn btn-success me-2" (click)="openActivateModal(user)">
                <i class="bi bi-check-lg"></i> {{'ACTIVAR' | translate}}
              </button>
              <button *ngIf="user.active===1" class="btn btn-success me-2" (click)="openDesactivateModal(user)">
                <i class="bi bi-check-lg"></i> {{'DESACTIVAR' | translate}}
              </button>
              <a class="btn btn-primary me-2" (click)="viewUserDetails(user)">
                <i class="bi bi-eye"></i>
              </a>
              <a class="btn btn-warning" [routerLink]="['/users/edit', user.id]">
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal para eliminar usuario -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" [ngClass]="{'show': showModal, 'd-block': showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">{{'ELIMINAR' | translate}} {{'USUARIO' | translate}} </h5>
        <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        {{'ESTAS_SEGURO_ELIMINAR' |translate}} {{ userToDelete?.username }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">{{'CANCELAR' | translate}}</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete('delete')">{{'ELIMINAR_PERMANENTEMENTE' | translate}}</button>
        <button type="button" class="btn btn-warning" (click)="confirmDelete('soft')">{{'DESHABILITAR' | translate}}</button>
        <
      </div>
    </div>
  </div>
</div>

<!-- Modal para activar usuario -->
<div class="modal fade" id="activateModal" tabindex="-1" aria-labelledby="activateModalLabel" aria-hidden="true" [ngClass]="{'show': showActivateModal, 'd-block': showActivateModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activateModalLabel">{{'ACTIVAR' | translate}} {{'USUARIO' | translate}}</h5>
        <button type="button" class="btn-close" (click)="closeActivateModal()"></button>
      </div>
      <div class="modal-body">
        {{'ESTAS_SEGURO_DESEAS' | translate}} {{whatis}} {{'AL_USUARIO' | translate}} {{ userToActivate?.username }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeActivateModal()">{{'CANCELAR'}}</button>
        <button type="button" class="btn btn-success" (click)="confirmActivate()">{{'ACTIVAR'}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar detalles del usuario -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true" [ngClass]="{'show': showDetailsModal, 'd-block': showDetailsModal}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModalLabel">{{'DETALLES_DE' | translate}} {{selectedUser?.username}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDetailsModal()"></button>
      </div>
      <div class="modal-body">
        <div class="user-details">
          <div class="user-profile text-center mb-4">
            <img [src]="'data:image/png;base64,' + selectedUser?.image" alt="Profile Image" class="profile-image"/>
            <h3 class="mt-2">{{ selectedUser?.username }}</h3>
          </div>
          <div class="user-info">
            <div class="info-item">
              <i class="bi bi-person"></i> <strong>ID:</strong> {{ selectedUser?.id }}
            </div>
            <div class="info-item">
              <i class="bi bi-envelope"></i> <strong>{{'EMAIL' | translate}}:</strong> {{ selectedUser?.email }}
            </div>
            <div class="info-item">
              <i class="bi bi-check-circle"></i> <strong>{{'ACTIVO' | translate}}:</strong>
              <ng-container *ngIf="selectedUser?.active === 1">
                <i class="bi bi-check-lg text-success" title="Activo"></i>
              </ng-container>
              <ng-container *ngIf="selectedUser?.active === 0">
                <i class="bi bi-x-lg text-danger" title="Desactivado"></i>
              </ng-container>
            </div>
            <div class="info-item">
              <i class="bi bi-trash"></i> <strong>{{'SOFT_DELETE' | translate}}:</strong>
              <ng-container *ngIf="selectedUser?.softDelete === 1">
                <i class="bi bi-check-lg text-success" title="Activo"></i>
              </ng-container>
              <ng-container *ngIf="selectedUser?.softDelete === 0">
                <i class="bi bi-x-lg text-danger" title="Eliminado"></i>
              </ng-container>

            </div>
            <div class="info-item">
              <i class="bi bi-calendar"></i> <strong>{{'FECHA_CREACION' | translate}}:</strong> {{ selectedUser?.createdAt | date: 'dd/MM/yyyy' }}
            </div>
            <div class="info-item">
              <i class="bi bi-calendar-event"></i> <strong>{{'FECHA_ACTUALIZACION' | translate}}:</strong> {{ selectedUser?.updatedAt | date: 'dd/MM/yyyy' }}
            </div>
            <div *ngIf="selectedUser?.roles && selectedUser?.roles.length > 0" class="roles-section">
              <h5><i class="bi bi-shield-lock"></i> {{'ROLES' | translate}}:</h5>
              <ul class="list-group">
                <li *ngFor="let role of selectedUser?.roles" class="list-group-item role-item">
                  <strong>{{ role.name }}</strong>
                  <ul *ngIf="role.permissions && role.permissions.length > 0" class="list-group">
                    <li *ngFor="let permission of role.permissions" class="list-group-item">
                      <i class="bi bi-key"></i> {{ permission.name }} ({{ permission.entity }})
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDetailsModal()">{{'CERRAR' | translate}}</button>
      </div>
    </div>
  </div>
</div>

