<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      <button class="btn btn-primary" routerLink="/roles">
        <i class="bi bi-arrow-left"></i>
      </button>
      {{ isEditMode ? 'Editar Rol' : 'Crear nuevo Rol' }}
    </h4>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <form [formGroup]="roleForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>

      <div class="row board__lists">
        <div class="col-6"
          cdkDropList
          id="permissions"
          [cdkDropListData]="permissions"
          [cdkDropListConnectedTo]="['selectedPermissionsFull']"
          (cdkDropListDropped)="drop($event)">
          <h3 class="text-center">Permisos totales</h3>
          <hr>
          <div *ngFor="let permission of permissions" cdkDrag>
            <div class="text-center">
            {{permission.name}} {{permission.entity}}
          </div>
          </div>
        </div>
        <div class="col-6"
          cdkDropList
          id="selectedPermissionsFull"
          [cdkDropListData]="selectedPermissionsFull"
          [cdkDropListConnectedTo]="['permissions']"
          (cdkDropListDropped)="drop($event)">
          <h3 class="text-center">Permisos seleccionados</h3>
          <hr>
          <div *ngFor="let permission of selectedPermissionsFull" cdkDrag>
            <div class="text-center">
            {{permission.name}} {{permission.entity}}
          </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
