<div class="card">
  <div class="card-body">
    <h4 class="card-title">Songs of {{artist}}</h4>
    <div class="table-responsive">
      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th>Title</th>
            <th>Time</th>
            <th>URL</th>
            <th>Album</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of songsList">
            <td>{{ song.title }}</td>
            <td>{{ song.time }}</td>
            <td>{{ song.url }}</td>
            <td>{{ song.album_name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
