<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ 'LISTA_CANCIONES' | translate }}</h4>
    <h5 class="card-subtitle text-muted">{{ 'LISTADO_CANCIONES' | translate }}</h5>

    <div class="row mb-3">
      <div class="col">
        <label for="itemsPerPageSelect" class="form-label">{{ 'ITEMS_POR_PAGINA' | translate }}</label>
        <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <!-- Filtros de búsqueda -->
      <div class="col">
        <input type="text" class="form-control" [placeholder]="placeholderTitle" [(ngModel)]="filters.title">
      </div>
      <div class="col">
        <input type="text" class="form-control" [placeholder]="placeholderTime" [(ngModel)]="filters.time">
      </div>
      <div class="col">
        <input type="text" class="form-control" [placeholder]="placeholderUrl" [(ngModel)]="filters.url">
      </div>
      <div class="col">
        <input type="text" class="form-control" [placeholder]="placeholderAlbum" [(ngModel)]="filters.album">
      </div>
      <div class="col">
        <button class="btn btn-primary me-2" (click)="applyFilters()">{{ 'APLICAR' | translate }}</button>
        <button class="btn btn-secondary" (click)="clearFilters()">{{ 'LIMPIAR' | translate }}</button>
      </div>
    </div>


    <!-- Indicador de carga -->
    <div class="text-center" *ngIf="songsList.length === 0 && errorMessage === ''">
      <!-- SVG de carga (puedes personalizar este SVG según tu diseño) -->
      <svg width="50px" height="50px" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#007bff">
        <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
            <circle stroke-opacity=".5" cx="18" cy="18" r="18" />
            <path d="M36 18c0-9.94-8.06-18-18-18">
              <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18" dur="1s" repeatCount="indefinite" />
            </path>
          </g>
        </g>
      </svg>
      <p>{{ 'CARGANDO' | translate }}</p>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <!-- Lista de canciones -->
    <div class="table-responsive" *ngIf="songsList.length !== 0">
      <!-- Mostrar tarjeta con iframe seleccionado o mensaje si no hay ninguna canción seleccionada -->
      <div class="card-body text-center">
        <h4 class="card-title">{{ 'CANCION_SELECCIONADA' | translate }}</h4>
        <div *ngIf="selectedSong && safeUrl; else noSongSelected">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe style="border-radius:12px" [src]="safeUrl" width="35%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
        </div>
        <ng-template #noSongSelected>
          <p>{{ 'NO_HAY_NINGUNA_CANCION_SELECCIONADA' | translate }}</p>
        </ng-template>
      </div>

      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('title')">
              {{ 'TITULO' | translate }}
              <span *ngIf="sortColumn === 'title'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('time')">
              {{ 'DURACION' | translate }}
              <span *ngIf="sortColumn === 'time'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('url')">
              {{ 'URL' | translate }}
              <span *ngIf="sortColumn === 'url'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('album')">
              {{ 'ALBUM' | translate }}
              <span *ngIf="sortColumn === 'album'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4">
              {{ 'ACCIONES' | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let song of songsList" (click)="selectSong(song)">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">
                    <button style="
                      background-color: #85db34; /* Color de fondo azul */
                      color: #ffffff; /* Texto blanco */
                      border: none; /* Sin borde */
                      border-radius: 5px; /* Bordes redondeados */
                      padding: 5px 10px; /* Espaciado interno */
                      font-size: 18px; /* Tamaño de fuente */
                      font-weight: bold; /* Texto en negrita */
                      cursor: pointer; /* Cursor de mano */
                      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
                      transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
                      outline: none; /* Sin contorno en enfoque */
                      text-align: center; /* Centrar texto */
                      display: inline-block; /* Alinear el botón en línea */
                    ">
                      {{ song.title }}  <i class="bi bi-play-circle"></i>
                    </button>
                  </h5>
                </div>
              </div>
            </td>
            <td class="fs-4">{{ song.time }}</td>
            <td>
              <h5 class="mb-0 fw-normal">
                <a [href]="song.url" target="_blank" rel="noopener noreferrer">
                  https://open.spotify.com/track/{{ song.title }}
                </a>
              </h5>
            </td>
            <td>
              <span class="fs-4">{{ song.album_name }}</span>
            </td>
            <td>
              <button class="btn btn-danger me-2" (click)="openDeleteModal(song)">
                <i class="bi bi-trash"></i>
              </button>
              <a class="btn btn-warning" [routerLink]="['/songs/edit', song.id]">
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="collectionSize"
          [(page)]="currentPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [ellipses]="false"
          [boundaryLinks]="true"
          (pageChange)="onPageChange($event)"
        ></ngb-pagination>
      </div>

      <!-- Modal para eliminar canción -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" [ngClass]="{'show': showModal, 'd-block': showModal}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">{{ 'ELIMINAR_CANCION' | translate }}</h5>
              <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
            </div>
            <div class="modal-body">
              {{ 'ESTAS_SEGURO_ELIMINAR' | translate }} {{ songToDelete?.name }}?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">{{ 'CANCELAR' | translate }}</button>
              <button type="button" class="btn btn-danger" (click)="confirmDelete()">{{ 'ELIMINAR' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  button:hover {
    background-color: #2980b9; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de escala */
  }

  button:focus {
    outline: none; /* Quitar el contorno en enfoque */
  }
  td {
    cursor: pointer; /* Cursor de mano */
  }
</style>
