<div class="card">
  <div class="card-body">
    <h4 class="card-title">Lista de albumes</h4>
    <h5 class="card-subtitle text-muted">Listado de todos albumes disponibles</h5>

    <div class="row mb-3">
      <div class="col">
        <label for="itemsPerPageSelect" class="form-label">Items por página</label>
        <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    </div>


    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by title" [(ngModel)]="filters.title">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by description" [(ngModel)]="filters.description">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by year" [(ngModel)]="filters.year">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by url" [(ngModel)]="filters.url">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by artist id" [(ngModel)]="filters.artist_id">
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="applyFilters()">Aplicar</button>
        <button class="btn btn-secondary" (click)="clearFilters()">Limpiar</button>
      </div>
    </div>

        <!-- Indicador de carga -->
        <div class="text-center" *ngIf="albumsList.length === 0 && errorMessage===''">
          <!-- Puedes ajustar este SVG según tu diseño -->
          <svg width="50px" height="50px" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#007bff">
            <g fill="none" fill-rule="evenodd">
              <g transform="translate(1 1)" stroke-width="2">
                <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                <path d="M36 18c0-9.94-8.06-18-18-18">
                  <animateTransform
                    attributeName="transform"
                    type="rotate"
                    from="0 18 18"
                    to="360 18 18"
                    dur="1s"
                    repeatCount="indefinite"/>
                </path>
              </g>
            </g>
          </svg>
          <p>Cargando...</p>
        </div>

        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>


    <div class="table-responsive" *ngIf="albumsList.length != 0">
      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('title')">
              Título
              <span *ngIf="sortColumn === 'title'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('description')">
              Descripción
              <span *ngIf="sortColumn === 'description'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('year')">
              Año
              <span *ngIf="sortColumn === 'year'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>

            <th class="text-dark font-medium fs-4" (click)="setSortColumn('url')">
              URL
              <span *ngIf="sortColumn === 'url'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('numberOfSongs')">
              Número de canciones
              <span *ngIf="sortColumn === 'numberOfSongs'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4">Acciones</th>
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let album of albumsList">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{album.title}}</h5>
                </div>
              </div>
            </td>
            <td class="fs-4">{{album.description}}</td>
            <td>
              <h5 class="mb-0 fw-normal">{{album.year}}</h5>
            </td>
            <td>
              <h5 class="mb-0 fw-normal">{{album.url}}</h5>
            </td>
            <td>
              <a class="btn btn-primary" (click)="navigateToSongs(album)">{{album.numberOfSongs}}</a>
            </td>
           <td>
              <button class="btn btn-danger" (click)="openDeleteModal(album)">
                <i class="bi bi-trash"></i>
              </button>
              <a class="btn btn-secondary" [routerLink]="['/albums/edit', album.id]">
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="d-flex justify-content-center">
        <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="currentPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination>
      </div>
    </div>
  </div>

  <!-- Modal para eliminar artista -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" [ngClass]="{'show': showModal, 'd-block': showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Eliminar albúm</h5>
        <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar al album {{ albumToDelete?.title }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

</div>
