<div class="card">
  <div class="card-body">
    <h4 class="card-title"> <button class="btn btn-primary" routerLink="/albums">
      <i class="bi bi-arrow-left"></i>
    </button>
    {{ isEditMode ? 'Editar album' : 'Crear nuevo album' }}</h4>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>

    <form [formGroup]="albumForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="title" class="form-label">Título</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input type="text" id="description" class="form-control" formControlName="description">
      </div>
      <div class="mb-3">
        <label for="url" class="form-label">URL</label>
        <input type="text" id="url" class="form-control" formControlName="url">
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Año</label>
        <input type="text" id="year" class="form-control" formControlName="year">
      </div>
      <div class="mb-3">
        <label for="artist" class="form-label">Artista</label>
        <input type="text" id="artist" class="form-control" formControlName="artist" [value]="artistInput" (input)="searchArtists($event)">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let artist of filteredArtists" (click)="addArtist(artist)">
            <button type="button" class="btn btn-secondary" (click)="addArtist(artist)">{{ artist.name }}</button>
          </li>
        </ul>
      </div>

      <!-- <div class="mb-3">
        <label>Artista seleccionado:</label>
        <ul class="list-group">
          <li class="list-group
          -item" *ngIf="selectedArtist">
            {{ selectedArtist.name }}
            <button type="button" class="btn-close" aria-label="Close" (click)="removeArtist()"></button>
          </li>

        </ul>
      </div> -->
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>
