<div class="card">
  <div class="card-body">
    <h4 class="card-title">Lista de artistas</h4>
    <h5 class="card-subtitle text-muted">Listado de todos los artistas disponibles</h5>


  <div class="row mb-3">
    <div class="col">
      <label for="itemsPerPageSelect" class="form-label">Items por página</label>
      <select id="itemsPerPageSelect" class="form-select" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange()">
        <option *ngFor="let option of itemsPerPageOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
  </div>

    <!-- Filtros de búsqueda -->
    <div class="row mb-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by name" [(ngModel)]="filters.name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by age" [(ngModel)]="filters.age">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by country" [(ngModel)]="filters.country">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Filter by date of birth" [(ngModel)]="filters.dateOfBirth">
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="applyFilters()">Aplicar</button>
        <button class="btn btn-secondary" (click)="clearFilters()">Limpiar</button>
      </div>
    </div>

    <!-- Indicador de carga -->
    <div class="text-center" *ngIf="artistList.length === 0 && errorMessage==='' ">
      <!-- Puedes ajustar este SVG según tu diseño -->
      <svg width="50px" height="50px" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#007bff">
        <g fill="none" fill-rule="evenodd">
          <g transform="translate(1 1)" stroke-width="2">
            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
            <path d="M36 18c0-9.94-8.06-18-18-18">
              <animateTransform
                attributeName="transform"
                type="rotate"
                from="0 18 18"
                to="360 18 18"
                dur="1s"
                repeatCount="indefinite"/>
            </path>
          </g>
        </g>
      </svg>
      <p>Cargando...</p>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <!-- Tabla de artistas -->
    <div class="table-responsive" *ngIf="artistList.length > 0">
      <table class="table align-middle text-nowrap">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('name')">
              Nombre
              <span *ngIf="sortColumn === 'name'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('age')">
              Edad
              <span *ngIf="sortColumn === 'age'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('country')">
              País
              <span *ngIf="sortColumn === 'country'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4" (click)="setSortColumn('dateOfBirth')">
              Fecha de nacimiento
              <span *ngIf="sortColumn === 'dateOfBirth'">
                <i [ngClass]="sortDirection === 'asc' ? 'bi bi-arrow-up' : 'bi bi-arrow-down'"></i>
              </span>
            </th>
            <th class="text-dark font-medium fs-4">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let artist of artistList">
            <td>
              <div class="d-flex align-items-center">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{artist.name}}</h5>
                </div>
              </div>
            </td>
            <td class="fs-4">{{artist.age}}</td>
            <td>
              <h5 class="mb-0 fw-normal">{{artist.country}}</h5>
            </td>
            <td>
              <h5 class="mb-0 fw-normal">{{artist.dateOfBirth | date:'dd/MM/yyyy'}} </h5>
            </td>
            <td>
              <button class="btn btn-danger" (click)="openDeleteModal(artist)">
                <i class="bi bi-trash"></i>
              </button>
              <a class="btn btn-primary" (click)="openSongsModal(artist)">
                <i class="bi bi-music-note-list"></i>
              </a>
              <a class="btn btn-secondary" [routerLink]="['/artists/edit', artist.id]">
                <i class="bi bi-pencil"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Navegación de paginación -->
      <div class="d-flex justify-content-between">
      <button class="btn btn-primary" (click)="firstPage()" [disabled]="currentPage === 1">
        <i class="bi bi-arrow-left"></i>
      </button>
        <button class="btn btn-primary" (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }}</span>
        <button class="btn btn-primary" (click)="nextPage()" [disabled]="artistList.length < itemsPerPage || isFinalPage">Siguiente</button>
        <button class="btn btn-primary" (click)="lastPage()" [disabled]="artistList.length < itemsPerPage">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para eliminar artista -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" [ngClass]="{'show': showModal, 'd-block': showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Eliminar Artista</h5>
        <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar al artista {{ artistToDelete?.name }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar canciones del artista -->
<div class="modal fade" id="songsModal" tabindex="-1" aria-labelledby="songsModalLabel" aria-hidden="true" [ngClass]="{'show': showSongsModal, 'd-block': showSongsModal}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="songsModalLabel">Canciones de {{selectedArtist?.name}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeSongsModal()"></button>
      </div>
      <div class="modal-body">
        <app-artists-list-songs [songsList]="selectedArtist?.singleSongList" [artist]="selectedArtist?.name"></app-artists-list-songs>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeSongsModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
